---
layout: default
---

<div class="home">
  <a class="rss-link" href="{{ "/wuziqi.html" | prepend: site.baseurl }}">等风来</a>
  <p><span class="page-heading">路阻且长</span><i class="page-heading2">孤独的人没有酒</i></p>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

        <div class="post-excerpt">
          {{ post.excerpt }}
          <p>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="'https://hopepdm.cn' + '{{ paginator.previous_page_path }}'" class="previous">←</a>
  {% else %}
    <span class="previous">←</span>
  {% endif %}
  <span class="page_number">{{ paginator.page }} 😜 {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="'https://hopepdm.cn' + '{{ paginator.next_page_path }}'" class="next">→</a>
  {% else %}
    <span class="next ">→</span>
  {% endif %}
</div>

</div>
