<footer class="footer">
<div class="wrapper">
&copy; 2017 {{ site.author }}
</div>
</footer>

<script src="{{ "/js/easybook.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/three.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/Projector.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/CanvasRenderer.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/Bird.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>